body{
	
	color:rgba(10, 10, 10, 0.7);
	background:pink;
	font:600 16px/18px 'Open Sans',sans-serif;
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:670px;
	position:relative;
	background:url(muneicecream.jpg) no-repeat center;
	box-shadow:0 12px 15px 0 rgba(31, 30, 30, 0.24),0 17px 50px 0 rgba(255, 0, 0, 0.19);
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgb(218, 205, 201,0.4);
}

.login-html .sign-in,
.login-form .group .check{
	display:none;
}

/*"sign in ,user,password" UPPERCASE  */
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}

/*sign in attribute*/
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
    color:lightcoral;
	border-color:rgba(10, 10, 10, 0.5);
}

.login-form{
	position:relative;
}

/*margin between items */
.login-form .group{
	margin-bottom:35px;
}

/*inputs (user ,pass,sign in) Curve adjustment */
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.4);
    width:100%;
	color:#000000;
	display:block;
	
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
/*username ,password  attributes*/
.login-form .group .label{
	color:#4b4247;
	font-size:14px;
}
.login-form .group .button{
    text-align: center;
	background:lightpink;
}

/*icon next to "keep me sign in" attributes*/
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}

/* color of " keep me sign in " */
.login-form .group .check:checked + label{
	color:#fff;
}


/* color of chekbox */
.login-form .group .check:checked + label .icon{
	background:lightcoral;
}

/*line alocation befor forget pass*/
.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(10, 10, 10, 0.2);
}


.foot-lnk{
	text-align:center;
}


/*nav*/
nav{
	position: fixed;
	background: rgba(pink);
	width: 100%;
	z-index: 12;
  }
  nav .menu{
	max-width: 1250px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 20px;
  }
  .menu .logo a{
	text-decoration: none;
	color: #fff;
	font-size: 35px;
	font-weight: 600;
  }
  .menu ul{
	display: inline-flex;
  }
  .menu ul li{
	list-style: none;
	margin-left: 7px;
  }
  .menu ul li:first-child{
	margin-left: 0px;
  }
  .menu ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	padding: 8px 15px;
	border-radius: 5px;
	transition: all 0.3s ease;
  }
  .menu ul li a:hover{
	background: #fff;
	color: black;
  }
/*nav*/